.DS_Store
.bundle
.claude
.dockerignore
.env.development
.env.test
.env.development.local
.env.test.local
.git
.gitignore
.github
.gitleaks.toml
.prettierrc
.rspec
.rspec_status
.rubocop.yml
.rubocop_todo.yml
.ruby-lsp
.serena
.simplecov
.yardoc
.yardopts
AGENTS.md
CLAUDE.md
Dockerfile
Guardfile
LICENSE.txt
README.md
TODO.md
bin
compose.yml
config/db/structure.sql
coverage
doc
eslint.config.js
log
mise.toml
node_modules
public/assets
scripts
spec
terraform
vendor
