/.env*.local
/terraform/environments/local/.terraform/
/terraform/environments/local/terraform.tfstate
/terraform/environments/local/terraform.tfstate.backup
/coverage/
/doc/api/
/log/*
/node_modules/
/public/*
!/public/404.html
!/public/500.html
/spec/examples.txt
/.yardoc/
